body{
  font-family:'Segoe UI',sans-serif;
  background:#a0e7e5;
  margin:0;
  padding:20px;
}

.wrapper{
  width:100%;
  max-width:1300px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.form-box{
  width:30%;
  background:#ffffff;
  padding:20px 25px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  margin-left: 400px;
}

h2{
  text-align:center;
  margin-bottom:20px;
  color:#333;
}

input,select{
  width:100%;
  padding:10px 12px;
  margin:8px 0;
  border-radius:8px;
  border:1px solid #ccc;
  box-sizing:border-box;
  transition:0.3s;
  font-size:14px;
}

input:focus,select:focus{
  outline:none;
  border-color:#5f6ddf;
  box-shadow:0 0 8px rgba(95,109,223,0.4);
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  font-weight:bold;
  font-size:15px;
  cursor:pointer;
  background:linear-gradient(to right,#5f6ddf,#7f8cff);
  color:white;
  margin-top:12px;
}

.list-box{
  width:100%;
  background:#ffffff;
  padding:20px;
  border-radius:18px;
  box-shadow:0 15px 35px rgba(0,0,0,0.08);
  overflow-x:auto;
}

.header{
  display:flex;
  align-items:center;
  min-width:900px;
  padding:14px 0;
  font-weight:600;
  font-size:14px;
  color:black;
  border-radius:12px;
  margin-bottom:10px;
}

.header .col{
  padding-left:12px;
}

.row{
  display:flex;
  align-items:center;
  min-width:900px;
  padding:12px 0;
  font-size:14px;
  transition:0.2s ease;
  border-radius:10px;
}

.row:nth-child(even){
  background:#f3f5ff;
}

.row:hover{
  background:#e0e5ff;
  transform:scale(1.01);
}

.col{
  flex:1;
  padding-left:12px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.col.amallar{
  display:flex;
  gap:8px;
}

.action-btn{
  padding:5px 10px;
  border:none;
  border-radius:6px;
  font-size:12px;
  color:white;
  cursor:pointer;
  transition:0.2s;
}

.edit-btn{
  background:#f6ad55;
  cursor:not-allowed;
}

.delete-btn{
  background:#e53e3e;
}

.delete-btn:hover{
  background:#c53030;
  transform:scale(1.05);
}