        body {
            font-family: 'Segoe UI', sans-serif;
            background: #a0e7e5;
            margin: 0;
            padding: 20px;
        }

        .wrapper {
            width: 100%;
            max-width: 1300px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .form-box {
            width: 30%;
            background: #ffffff;
            padding: 20px 25px;
            border-radius: 15px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            margin: auto;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        input,
        select {
            width: 100%;
            padding: 10px 12px;
            margin: 8px 0;
            border-radius: 8px;
            border: 1px solid #ccc;
            transition: 0.3s;
        }

        input:focus,
        select:focus {
            outline: none;
            border-color: #5f6ddf;
        }

        button {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            background: #5f6ddf;
            color: white;
        }

        .list-box {
            width: 100%;
            background: #ffffff;
            padding: 20px;
            border-radius: 18px;
            overflow-x: auto;
        }

        .header,
        .row {
            display: flex;
            min-width: 900px;
        }

        .col {
            flex: 1;
            padding: 8px;
        }

        .row:nth-child(even) {
            background: #f3f5ff;
        }

        .action-btn {
            padding: 5px 10px;
            border: none;
            border-radius: 6px;
            color: white;
            cursor: pointer;
        }

        .delete-btn {
            background: red;
        }

        .edit-btn {
            background: green;
        }